@use "../variables/breackpoints";

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background: url("../img/background.jpg");
}

.window {
  position: absolute;
  top: 30px;
  left: 20px;
  width: 773px;

  @media (min-width: breackpoints.$large) {
    top: 110px;
    left: 82px;
    width: 773px;
  }
}
